doctype html
html(lang="en")
  head
    title= pageTitle
    block styles
    link(rel="stylesheet" type="text/css" href="/style.css")
  body
    div.container
      section.create_section
        form(action="/tasks/edit" method="POST")
          - id=task.id
            input(type="hidden" name="id" placeholder="your title" value=id)
          - title=task.title
            input(type="text" name="title" placeholder="your title" value=title)
          br
          - instruction = task.instruction
            input(type="text" name="instruction" placeholder="your instruction" value=instruction)
          br
          input(type="submit" value="submit").button
          img(src="/assets/dance.gif", alt="")
      section.funny_section
        img(src="/assets/fish.gif", alt="")
        
          